<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Record</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed w-100">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="display">Display</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="update">Update</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="delete">Delete</a>
                    </li>
                </ul>
                <div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleLoginModal">Login</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleSignupModal">Signup</button>
                </div>
            </div>
        </div>
    </nav>

    <div class="w-100 vh-100 d-flex flex-column justify-content-center align-items-center">
        <h2>Update Account</h2>
        <form method="post" action="updateForm" class="w-50">
            {% csrf_token %}
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleInputEmail" class="form-label">Email ID</label>
                    <input type="email" class="form-control" name="emailid" id="exampleInputEmail" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">New Name</label>
                    <input type="text" class="form-control" name="updateName" id="exampleInputName" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputMobile" class="form-label">New Mobile</label>
                    <input type="number" class="form-control" name="updateMobile" id="exampleInputName" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword" class="form-label">New Password</label>
                    <input type="password" class="form-control" name="updatePassword" id="exampleInputPassword">
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Update Account</button>
        </form>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>